body {
  background-color: pink;
  color: #333;
  font-size: 1.1em;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.container {
	background: #6b87f3;
  color: white;
  padding: 2em;
  margin: 40px auto 0;
  width: 90%;
  max-width: 400px;
  border-radius: 30px;
  display: flex;
}

h1 {
	color: #4b13d8;
	margin: 0.15em 0.75em 0 0;
  font-family: arial;

}

p {
  margin: 0;
  line-height: 1.5;
  font-size: 1.15em;
}
