body {
  background-image: repeating-radial-gradient(blue, orange);
  font-family: arial;
}
h1{
  letter-spacing: 45px;
  text-align: center;
}

#change{
  border: solid black 5px;
  color: white;
  font-size: 250px;
  line-height: 45px;
}
